<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <meta name="page-help" content="https://getrebuild.com/docs/admin/users#%E9%83%A8%E9%97%A8" />
    <title>[[${bundle.L('部门管理')}]]</title>
    <style>
      .badge.badge-WW,
      .badge.badge-DD {
        font-weight: normal;
        cursor: help;
        border-radius: 12px;
        padding: 0 6px;
        border-color: #4873c0;
        color: #4873c0;
      }
      .badge.badge-DD {
        border-color: #38adff;
        color: #38adff;
      }
    </style>
  </head>
  <body>
    <div class="rb-wrapper rb-fixed-sidebar rb-collapsible-sidebar rb-collapsible-sidebar-hide-logo rb-aside rb-color-header" th:classappend="${sideCollapsedClazz}">
      <th:block th:replace="~{/_include/nav-top}" />
      <th:block th:replace="~{/_include/nav-left-admin(active='users')}" />
      <div class="rb-content">
        <aside class="page-aside">
          <div class="rb-scroller">
            <div class="page-aside-tree" id="dept-tree">
              <div class="ph-item rb">
                <div class="ph-col-12 p-0">
                  <div class="ph-row">
                    <div class="ph-col-12 big"></div>
                    <div class="ph-col-12 big"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </aside>
        <div class="main-content container-fluid">
          <ul class="nav nav-tabs nav-tabs-classic">
            <li class="nav-item">
              <a href="users" class="nav-link"><span class="icon zmdi zmdi-account"></span> [[${bundle.L('用户')}]]</a>
            </li>
            <li class="nav-item">
              <a href="departments" class="nav-link active"><span class="icon zmdi zmdi-accounts"></span> [[${bundle.L('部门')}]]</a>
            </li>
          </ul>
          <div class="card card-table">
            <div class="card-body">
              <div class="dataTables_wrapper container-fluid">
                <div class="row rb-datatable-header">
                  <div class="col-12 col-lg-6">
                    <div class="dataTables_filter">
                      <div class="input-group input-search">
                        <input class="form-control" type="text" th:placeholder="${bundle.L('快速查询')}" maxlength="40" />
                        <span class="input-group-btn">
                          <button class="btn btn-secondary" type="button"><i class="icon zmdi zmdi-search"></i></button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="dataTables_oper">
                      <button class="btn btn-space btn-secondary J_view" type="button" disabled="disabled"><i class="icon zmdi zmdi-folder"></i> [[${bundle.L('打开')}]]</button>
                      <button class="btn btn-primary btn-space J_new" type="button"><i class="icon zmdi zmdi-accounts-add"></i> [[${bundle.L('新建部门')}]]</button>
                      <div class="btn-group btn-space">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">[[${bundle.L('更多')}]] <i class="icon zmdi zmdi-more-vert"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item J_columns"><i class="icon mdi mdi-view-column-outline"></i> [[${bundle.L('列显示')}]]</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="react-list" class="rb-loading rb-loading-active data-list">
                  <th:block th:replace="~{/_include/spinner}" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="~{/_include/footer}" />
    <script>
      window.__PageConfig = {
        type: 'RecordList',
        entity: ['[[${entityName}]]', '[[${entityLabel}]]', '[[${entityIcon}]]'],
        privileges: [(${entityPrivileges})],
        listConfig: [(${DataListConfig})],
        advFilter: false,
      }
    </script>
    <script th:src="@{/assets/js/rb-datalist.common.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/rb-datalist.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/rb-forms.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/rb-forms.append.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/aside-tree.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/bizuser/dept-tree.js}" type="text/babel"></script>
    <script type="text/babel">
      const RbForm_postAfter = RbForm.postAfter
      RbForm.postAfter = function (data, next) {
        RbForm_postAfter(data, next)
        loadDeptTree()
      }
    </script>
  </body>
</html>
