<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <meta name="page-help" content="https://getrebuild.com/docs/admin/users" />
    <title>[[${bundle.L('SomeManage,User')}]]</title>
  </head>
  <body>
    <div class="rb-wrapper rb-fixed-sidebar rb-collapsible-sidebar rb-collapsible-sidebar-hide-logo rb-aside rb-color-header" th:classappend="${sideCollapsedClazz}">
      <th:block th:replace="~{/_include/nav-top}" />
      <th:block th:replace="~{/_include/nav-left-admin(active='users')}" />
      <div class="rb-content">
        <aside class="page-aside">
          <div class="rb-scroller">
            <div class="aside-tree">
              <div class="ph-item rb">
                <div class="ph-col-12 p-0">
                  <div class="ph-row">
                    <div class="ph-col-12 big"></div>
                    <div class="ph-col-12 big"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </aside>
        <div class="main-content container-fluid">
          <ul class="nav nav-tabs nav-tabs-classic">
            <li class="nav-item">
              <a href="users" class="nav-link active"><span class="icon zmdi zmdi-account"></span> [[${bundle.L('User')}]]</a>
            </li>
            <li class="nav-item">
              <a href="departments" class="nav-link"><span class="icon zmdi zmdi-accounts"></span> [[${bundle.L('Department')}]]</a>
            </li>
          </ul>
          <div class="card card-table">
            <div class="card-body">
              <div class="dataTables_wrapper container-fluid">
                <div class="row rb-datatable-header">
                  <div class="col-12 col-lg-5">
                    <div class="dataTables_filter">
                      <div class="input-group input-search">
                        <input class="form-control" type="text" th:placeholder="${bundle.L('Query')}" maxlength="40" data-quickFields="loginName,fullName,email,quickCode" />
                        <span class="input-group-btn">
                          <button class="btn btn-secondary" type="button"><i class="icon zmdi zmdi-search"></i></button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-7">
                    <div class="dataTables_oper">
                      <button class="btn btn-space btn-secondary J_view" type="button" disabled="disabled"><i class="icon zmdi zmdi-folder"></i> [[${bundle.L('Open')}]]</button>
                      <div class="btn-group btn-space">
                        <button class="btn btn-primary J_new" type="button"><i class="icon zmdi zmdi-account-add"></i> [[${bundle.L('NewSome,User')}]]</button>
                        <button class="btn btn-primary dropdown-toggle auto" type="button" data-toggle="dropdown"><span class="icon zmdi zmdi-chevron-down"></span></button>
                        <div class="dropdown-menu dropdown-menu-primary dropdown-menu-right">
                          <a class="dropdown-item J_new-dept"><i class="icon zmdi zmdi-accounts-add"></i> [[${bundle.L('NewSome,Department')}]]</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item J_imports"><i class="icon zmdi zmdi-cloud-upload"></i> [[${bundle.L('ImportUser')}]] <sup class="rbv">V</sup></a>
                        </div>
                      </div>
                      <div class="btn-group btn-space">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">[[${bundle.L('More')}]] <i class="icon zmdi zmdi-more-vert"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item J_columns"><i class="icon zmdi zmdi-code-setting"></i> [[${bundle.L('FieldShow')}]]</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="react-list" class="rb-loading rb-loading-active data-list">
                  <th:block th:replace="~{/_include/spinner}" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="~{/_include/footer}" />
    <script>
      window.__PageConfig = {
        type: 'RecordList',
        entity: ['[[${entityName}]]', '[[${entityLabel}]]', '[[${entityIcon}]]'],
        privileges: _$unthy('[[${entityPrivileges}]]'),
        listConfig: _$unthy('[[${DataListConfig}]]'),
        advFilter: false,
        serviceMail: '[[${serviceMail}]]'
      }
    </script>
    <script th:src="@{/assets/js/rb-datalist.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/rb-forms.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/rb-forms.append.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/bizuser/dept-tree.js}"></script>
    <script th:src="@{/assets/js/bizuser/user-list.js}" type="text/babel"></script>
  </body>
</html>
