<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/view-page.css}" />
    <title>[[${bundle.L('用户视图')}]]</title>
    <style>
      b.newpwd:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    </style>
  </head>
  <body class="view-body">
    <div class="view-header">
      <i class="header-icon zmdi" th:classappend="${'zmdi-' + entityIcon}"></i>
      <h3 class="title">[[${bundle.L('用户视图')}]]</h3>
      <span>
        <a class="close J_close" th:title="${bundle.L('关闭')}"><i class="zmdi zmdi-close"></i></a>
        <a class="close sm J_reload" th:title="${bundle.L('刷新')}"><i class="zmdi zmdi-refresh"></i></a>
        <a class="close sm J_back hide" th:title="${bundle.L('回退')}"><i class="zmdi zmdi-arrow-left"></i></a>
      </span>
    </div>
    <div class="main-content container-fluid">
      <div class="alert alert-warning alert-icon alert-icon-border alert-dismissible alert-sm hide J_tips">
        <div class="icon"><span class="zmdi zmdi-info-outline"></span></div>
        <div class="message">
          <a class="close" data-dismiss="alert"><span class="zmdi zmdi-close"></span></a>
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-9">
          <div class="tab-container">
            <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link active" href="#tab-rbview" data-toggle="tab">[[${bundle.L('详情')}]]</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab-rbview"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3 view-operating">
          <div class="view-action row admin-show admin-verified">
            <div class="col-12 col-lg-6">
              <button class="btn btn-secondary J_edit" type="button"><i class="icon zmdi zmdi-edit"></i> [[${bundle.L('编辑')}]]</button>
            </div>
            <div class="col-12 col-lg-6 btn-group J_mores">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">[[${bundle.L('更多')}]] <i class="icon zmdi zmdi-more-vert"></i></button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item J_enable"><i class="icon zmdi zmdi-check-circle"></i> [[${bundle.L('启用')}]]</a>
                <a class="dropdown-item J_disable"><i class="icon zmdi zmdi-block"></i> [[${bundle.L('禁用')}]]</a>
                <a class="dropdown-item J_delete"><i class="icon zmdi zmdi-delete"></i> [[${bundle.L('删除')}]]</a>
                <a class="dropdown-item J_resetpwd"><i class="icon zmdi zmdi-key"></i> [[${bundle.L('重置密码')}]]</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item J_changeDept"><i class="icon zmdi zmdi-accounts"></i> [[${bundle.L('修改部门')}]]</a>
                <a class="dropdown-item J_changeRole"><i class="icon zmdi zmdi-lock"></i> [[${bundle.L('修改角色')}]]</a>
              </div>
            </div>
          </div>
          <div class="view-date">
            <div class="form-line">
              <fieldset><legend>[[${bundle.L('日期')}]]</legend></fieldset>
            </div>
            <dl class="row">
              <dt class="col-12 col-lg-4">[[${bundle.L('创建时间')}]]</dt>
              <dd class="col-12 col-lg-8 J_createdOn"></dd>
            </dl>
            <dl class="row">
              <dt class="col-12 col-lg-4">[[${bundle.L('修改时间')}]]</dt>
              <dd class="col-12 col-lg-8 J_modifiedOn"></dd>
            </dl>
            <dl class="row">
              <dt class="col-12 col-lg-4">[[${bundle.L('上次登录')}]]</dt>
              <dd class="col-12 col-lg-8 J_loginOn"><span>[[${bundle.L('无')}]]</span></dd>
            </dl>
          </div>

          <div>
            <div class="alert alert-info alert-icon alert-icon-border alert-sm hide J_roles mt-5">
              <div class="icon"><span class="zmdi zmdi-lock"></span></div>
              <div class="message">
                <span class="text-muted">[[${bundle.L('附加角色')}]]</span>
                <p class="column-n2n"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="~{/_include/footer}" />
    <script>
      window.__PageConfig = {
        type: 'RecordView',
        entity: ['User', '[[${entityLabel}]]', '[[${entityIcon}]]'],
        recordId: '[[${id}]]',
        onViewEditable: false,
      }
    </script>
    <script th:src="@{/assets/lib/clipboard.min.js}"></script>
    <script th:src="@{/assets/js/rb-forms.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/rb-forms.append.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/rb-view.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/bizuser/user-view.js}" type="text/babel"></script>
  </body>
</html>
