<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <meta name="page-help" content="https://getrebuild.com/docs/admin/transforms" />
    <title>[[${bundle.L('记录转换映射')}]]</title>
    <style type="text/css">
      .nav-tabs > li.nav-item a.nav-link {
        padding: 8px 15px;
      }
      .fields-mapping .alert {
        margin-bottom: 0;
      }
      .fields-mapping .row {
        margin-bottom: 6px;
      }
      .fields-mapping span.badge {
        font-size: 1rem;
        padding: 4px 10px;
        font-weight: normal;
        margin-top: 4px;
      }
      .fields-mapping span.badge.req {
        border-left: 3px solid #ea4335;
      }
      .fields-mapping span.badge::before {
        content: '\f2fd';
        font-family: 'Material-Design-Iconic-Font';
        position: absolute;
        left: -2px;
        color: #aaa;
      }
      .fields-mapping .row.active span.badge::before {
        color: #fbbc05;
      }
    </style>
  </head>
  <body>
    <div class="rb-wrapper rb-fixed-sidebar rb-collapsible-sidebar rb-collapsible-sidebar-hide-logo rb-color-header" th:classappend="${sideCollapsedClazz}">
      <th:block th:replace="~{/_include/nav-top}" />
      <th:block th:replace="~{/_include/nav-left-admin(active='transforms')}" />
      <div class="rb-content">
        <div class="page-head">
          <div class="page-head-title">[[${bundle.L('记录转换映射')}]]<span class="sub-title">[[${name ?: bundle.L('未命名')}]]</span></div>
          <div class="clearfix"></div>
        </div>
        <div class="main-content container-fluid pt-0">
          <div class="card mb-0">
            <div class="card-body">
              <form class="simple" style="max-width: 1100px">
                <div class="form-group row">
                  <label class="col-md-12 col-xl-3 col-lg-4 col-form-label text-lg-right">[[${bundle.L('附加过滤条件')}]]</label>
                  <div class="col-md-12 col-xl-6 col-lg-8">
                    <a class="btn btn-sm btn-link pl-0 text-left down-2" id="useFilter">[[${bundle.L('点击设置')}]]</a>
                    <p class="form-text mb-0 mt-0">[[${bundle.L('符合过滤条件的记录才允许被转换')}]]</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-12 col-xl-3 col-lg-4 col-form-label text-lg-right">[[${bundle.L('转换字段映射')}]]</label>
                  <div class="col-md-12 col-xl-6 col-lg-8">
                    <ul th:if="${sourceDetailEntity != null}" class="nav nav-tabs mb-2">
                      <li class="nav-item"><a class="nav-link active" href="#EMAIN" data-toggle="tab">[[${bundle.L('主实体')}]]</a></li>
                      <li class="nav-item"><a class="nav-link" href="#EDETAIL" data-toggle="tab">[[${bundle.L('明细实体')}]]</a></li>
                    </ul>
                    <div class="tab-content m-0 p-0 fields-mapping">
                      <div class="tab-pane active" id="EMAIN">
                        <p class="text-muted m-0" style="padding-top: 7px">[[${bundle.L('加载中')}]]</p>
                      </div>
                      <div class="tab-pane" id="EDETAIL"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-12 col-xl-3 col-lg-4 col-form-label text-lg-right">[[${bundle.L('转换后回填')}]]</label>
                  <div class="col-md-12 col-xl-6 col-lg-8">
                    <div>
                      <select class="form-control form-control-sm" id="fillbackField"></select>
                      <p class="form-text">[[${bundle.L('可将转换后的记录 ID 回填至源记录中')}]]</p>
                    </div>
                  </div>
                </div>
                <div class="form-group row footer">
                  <label class="col-md-12 col-xl-3 col-lg-4 col-form-label text-lg-right"></label>
                  <div class="col-md-12 col-xl-6 col-lg-8">
                    <button class="btn btn-primary J_save" type="button">[[${bundle.L('保存')}]]</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="~{/_include/footer}" />
    <script>
      window.__PageConfig = {
        configId: '[[${configId}]]',
        config: [(${config ?:'null'})],
        sourceEntity: [(${sourceEntity ?:'null'})],
        sourceDetailEntity: [(${sourceDetailEntity ?:'null'})],
        targetEntity: [(${targetEntity ?:'null'})],
        targetDetailEntity: [(${targetDetailEntity ?:'null'})],
      }
    </script>
    <script th:src="@{/assets/js/rb-advfilter.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/metadata/field-compatible.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/admin/transform-editor.js}" type="text/babel"></script>
  </body>
</html>
