<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <title>[[${bundle.L('e.TransformConfig')}]]</title>
    <style type="text/css">
      .nav-tabs > li.nav-item a.nav-link {
        padding: 8px 15px;
      }

      .fields-mapping .row {
        margin-bottom: 6px;
      }
      .fields-mapping span.badge {
        font-size: 1rem;
        padding: 4px 10px;
        font-weight: normal;
        margin-top: 4px;
      }
      .fields-mapping span.badge.req {
        border-left: 3px solid #ea4335;
      }
      .fields-mapping span.badge::before {
        content: '\f2fd';
        font-family: 'Material-Design-Iconic-Font';
        position: absolute;
        left: -2px;
        color: #aaa;
      }
      .fields-mapping .row.active span.badge::before {
        color: #fbbc05;
      }
    </style>
  </head>
  <body>
    <div class="rb-wrapper rb-fixed-sidebar rb-collapsible-sidebar rb-collapsible-sidebar-hide-logo rb-color-header" th:classappend="${sideCollapsedClazz}">
      <th:block th:replace="~{/_include/nav-top}" />
      <th:block th:replace="~{/_include/nav-left-admin(active='transforms')}" />
      <div class="rb-content">
        <div class="page-head">
          <div class="page-head-title">[[${bundle.L('e.TransformConfig')}]]<span class="sub-title">[[${name ?: bundle.L('Unname')}]]</span></div>
          <div class="clearfix"></div>
        </div>
        <div class="main-content container-fluid pt-0">
          <div class="card mb-0">
            <div class="card-body">
              <form class="simple" style="max-width: 1100px">
                <div class="form-group row">
                  <label class="col-md-12 col-xl-3 col-lg-4 col-form-label text-lg-right">[[${bundle.L('SetAdvFiletr')}]]</label>
                  <div class="col-md-12 col-xl-6 col-lg-8">
                    <a class="btn btn-sm btn-link pl-0 text-left down-2" id="useFilter">[[${bundle.L('ClickSet')}]]</a>
                    <p class="form-text mb-0 mt-0">[[${bundle.L('SetFilterTransformTips')}]]</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-12 col-xl-3 col-lg-4 col-form-label text-lg-right">[[${bundle.L('TransformeMapping')}]]</label>
                  <div class="col-md-12 col-xl-6 col-lg-8">
                    <ul th:if="${sourceDetailEntity != null}" class="nav nav-tabs mb-2">
                      <li class="nav-item"><a class="nav-link active" href="#EMAIN" data-toggle="tab">[[${bundle.L('MainEntity')}]]</a></li>
                      <li class="nav-item"><a class="nav-link" href="#EDETAIL" data-toggle="tab">[[${bundle.L('DetailEntity')}]]</a></li>
                    </ul>
                    <div class="tab-content m-0 p-0 fields-mapping">
                      <div class="tab-pane active" id="EMAIN"></div>
                      <div class="tab-pane" id="EDETAIL"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-12 col-xl-3 col-lg-4 col-form-label text-lg-right">[[${bundle.L('TransformeAfterFill')}]]</label>
                  <div class="col-md-12 col-xl-6 col-lg-8">
                    <div>
                      <select class="form-control form-control-sm" id="fillbackField"></select>
                      <p class="form-text">[[${bundle.L('TransformeAfterFillTips')}]]</p>
                    </div>
                  </div>
                </div>
                <div class="form-group row footer">
                  <label class="col-md-12 col-xl-3 col-lg-4 col-form-label text-lg-right"></label>
                  <div class="col-md-12 col-xl-6 col-lg-8">
                    <button class="btn btn-primary J_save" type="button">[[${bundle.L('Save')}]]</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="~{/_include/footer}" />
    <script>
      window.__PageConfig = {
        configId: '[[${configId}]]',
        config: _$unthy('[[${config}]]'),
        sourceEntity: _$unthy('[[${sourceEntity}]]'),
        sourceDetailEntity: _$unthy('[[${sourceDetailEntity}]]'),
        targetEntity: _$unthy('[[${targetEntity}]]'),
        targetDetailEntity: _$unthy('[[${targetDetailEntity}]]'),
      }
    </script>
    <script th:src="@{/assets/js/rb-advfilter.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/admin/transform-editor.js}" type="text/babel"></script>
  </body>
</html>
