<script th:src="@{/assets/js/general/rb-forms.js}" type="text/babel"></script>
<script th:src="@{/assets/js/general/rb-forms.append.js}" type="text/babel"></script>
<script th:src="@{/assets/js/general/rb-forms.protable.js}" type="text/babel"></script>
<script th:if="${commercial > 1}" th:src="@{/assets/js/general/rb-easyaction.js}" type="text/babel"></script>
<script th:src="@{/assets/js/general/rb-datalist.common.js}" type="text/babel"></script>
<script th:src="@{/assets/js/general/rb-approval.js}" type="text/babel"></script>
<script th:if="${commercial > 1}" th:src="@{/assets/js/general/rb-sop.js}" type="text/babel"></script>
<script th:src="@{/assets/js/general/rb-advfilter.js}" type="text/babel"></script>
<script th:src="@{/assets/js/general/rb-record.common.js}" type="text/babel"></script>
<!--
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/customized/customized.css}" />
<script th:src="@{/assets/js/customized/customized-forms.js}" type="text/babel"></script>
<script th:src="@{/assets/js/customized/customized-datalist.js}" type="text/babel"></script>
-->
