<th:block xmlns:th="http://www.thymeleaf.org">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" th:href="@{/assets/img/favicon.png}" />
  <link rel="apple-touch-icon" th:href="@{/assets/img/favicon.png}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/lib/material-design-iconic-font.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/lib/widget/perfect-scrollbar.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/lib/widget/bootstrap-datetimepicker.min.css?v=2.4.4}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/lib/animate.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/lib/widget/select2.min.css?v=4.0.13}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/lib/widget/mprogress.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/lib/jquery-ui.min.css?v=1.13.0}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/lib/widget/simplemde.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/rb-base.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/rb-page.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/commons/theme/use-theme}" th:if="${user != null && commercial > 1}" />
  <meta name="rb.env" th:content="${env}" />
  <meta name="rb.commercial" th:content="${commercial}" />
  <meta name="rb.locale" th:content="${locale}" />
  <meta name="rb.baseUrl" th:content="${baseUrl}" />
  <meta name="rb.appName" th:content="${appName}" />
  <meta name="rb.storageUrl" th:content="${storageUrl}" />
  <meta name="rb.fileSharable" th:content="${fileSharable}" />
  <meta name="rb.csrfToken" th:content="${csrfToken}" />
  <meta name="rb.authToken" th:content="${authToken}" />
  <th:block th:if="${user != null}">
    <meta name="rb.currentUser" th:content="${user.getId()}" />
    <meta name="rb.isAdminUser" th:content="${user.isAdmin()}" />
    <meta name="rb.isAdminVerified" th:content="${T(com.rebuild.utils.AppUtils).isAdminVerified(#request)}" />
  </th:block>
  <meta name="rb._baiduMapAk" th:content="${PortalBaiduMapAk}" />
  <meta name="rb._officePreviewUrl" th:content="${PortalOfficePreviewUrl}" />
  <!--[if lt IE 10]><script>location.href = '[[${baseUrl}]]/error/unsupported-browser'</script><![endif]-->
  <script th:if="${T(com.rebuild.utils.AppUtils).isIE11(#request)}" th:src="@{/assets/lib/react/polyfill.min.js?v=7.6.0}"></script>
  <script th:if="${markWatermark == 'true'}" th:src="@{/assets/lib/watermark.js?v=2.3.2.2}"></script>
  <style th:if="${commercial > 1}" type="text/css">
    .logo-img,
    .rb-top-header .rb-navbar-header .navbar-brand {
      background-image: url('[[${baseUrl}]]/commons/theme/use-logo');
    }
    .logo-img.white,
    .rb-color-header .rb-top-header .rb-navbar-header .navbar-brand {
      background-image: url('[[${baseUrl}]]/commons/theme/use-logo-white');
    }
  </style>
</th:block>
