# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE
/.classpath
/.project
/.settings/
/.idea/
rebuild.iml

# Bin
/target/
/bin/
/.production/node_modules/
/.production/_temp/
/.production/build/
/a.json


# MacOS

.DS_Store

