# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE
/.classpath
/.project
/.idea/
/.settings/

# Bin
/target/
/bin/
/.production/node_modules/
/.production/package-lock.json
/.production/_temp/
/.production/build/
/.production/
/src/main/webapp/assets/node_modules/
/src/main/webapp/assets/package-lock.json
/a.json



# MacOS

.DS_Store