# !!! `db.*` ONLY FOR DEV MODE !!!
db.url: jdbc:mysql://127.0.0.1:3306/rebuild20b?characterEncoding=UTF8&useUnicode=true&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=UTC
db.user: rebuild
db.passwd: rebuild
# Use built-in ehcache if redis not defined or unavailable
db.CacheHost: 127.0.0.1
db.CachePort: 6379
db.CachePassword:

# REBUILD
rebuild:
  # Cloud Storage - Use https://www.qiniu.com/
  StorageURL: //qn-cdn.getrebuild.com/
  StorageBucket: rb-cdn
  StorageApiKey: AES(zYkDunIsyaZd71rZoW1KPtJPIutYBsBqNaZxpE+4xNl9urgpG+Py0Q0w5m2+Z72e)
  StorageApiSecret: AES(Ke7e7qzT+5F2HC3C/89a5Aq+UopTPHygiSpPfnQjnSrpxgUtiSlauQbPnowtl+ew)
  # SMS - Use https://www.mysubmail.com/
  SmsUser: 30912
  SmsPassword: AES(w07FOXTgIF5vuU2uWOLHhgeBv2dSExddnQQ8f534GXMKxKZT7YVYoWKjP8gPrEIS)
  SmsSign: REBUILD
  # Mail - Use https://www.mysubmail.com/
  MailUser: 14022
  MailPassword: AES(vRnLDh4PVen2faMH+itQuFjzwBcWtCTO6qslkF36VAoKxKZT7YVYoWKjP8gPrEIS)
  MailAddr: hi@smtp.getrebuild.com
  MailName: REBUILD

# DEV
server.servlet.context-path: /rebuild
spring.thymeleaf.cache: false
spring.main.banner-mode: console
spring.devtools.restart.trigger-file: .trigger
