<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/feeds.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/files.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/view-page.css}" />
    <title th:text="${entityLabel}"></title>
  </head>
  <body class="view-body loading">
    <div class="view-header">
      <i class="header-icon zmdi" th:classappend="|zmdi-${entityIcon}|"></i>
      <h3 class="title" th:text="${bundle.L('%s详情', entityLabel)}" th:title="${entityLabel}"></h3>
      <span>
        <a class="close J_close" th:title="${bundle.L('关闭')}"><i class="zmdi zmdi-close"></i></a>
        <a class="close sm J_reload" th:title="${bundle.L('刷新')}"><i class="zmdi zmdi-refresh"></i></a>
        <a class="close sm J_newpage hide" th:title="${bundle.L('在新页面打开')}"><i class="zmdi zmdi-open-in-new"></i></a>
        <a class="close sm J_home hide" th:title="${bundle.L('返回首页')}" th:href="|${baseUrl}/dashboard/home|"><i class="zmdi zmdi-home"></i></a>
        <a class="close sm J_back hide" th:title="${bundle.L('回退')}"><i class="mdi mdi-arrow-u-left-top"></i></a>
        <a class="close sm J_record-next pl-1 hide" th:title="${bundle.L('下一条')}"><i class="mdi mdi-arrow-right"></i></a>
        <a class="close sm J_record-prev pr-1 hide" th:title="${bundle.L('上一条')}"><i class="mdi mdi-arrow-left"></i></a>
        <a class="close sm admin-show" th:title="${bundle.L('表单设计')}" th:href="|${baseUrl}/admin/entity/${entityName}/form-design|" target="_blank"><i class="zmdi zmdi-settings"></i></a>
      </span>
    </div>
    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-12 col-md-9">
          <div class="tab-container">
            <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link active" href="#tab-rbview-0" data-toggle="tab">[[${bundle.L('详情')}]]</a></li>
              <a class="vtab-settings admin-show J_view-addons" data-type="TAB" th:title="${bundle.L('配置显示项')}"><i class="zmdi zmdi-settings"></i></a>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab-rbview-0">
                <div id="tab-rbview"></div>
                <div class="tab-content-bottom"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3 view-operating">
          <div class="view-action invisible2 row">
            <div class="col-12 col-lg-6">
              <button class="btn btn-secondary J_edit" type="button"><i class="icon zmdi zmdi-edit"></i> [[${bundle.L('编辑')}]]</button>
            </div>
            <div class="col-12 col-lg-6 J_mores">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">[[${bundle.L('更多')}]] <i class="icon zmdi zmdi-more-vert"></i></button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item J_delete"><i class="icon zmdi zmdi-delete"></i> [[${bundle.L('删除')}]]</a>
                <a class="dropdown-item J_assign"><i class="icon zmdi zmdi-mail-reply-all"></i> [[${bundle.L('分配')}]]</a>
                <a class="dropdown-item J_share"><i class="icon zmdi zmdi-portable-wifi"></i> [[${bundle.L('共享')}]]</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item J_print" target="_blank" th:href="|${baseUrl}/app/${entityName}/print?id=${id}&mode=1|"><i class="icon zmdi zmdi-print"></i> [[${bundle.L('打印')}]]</a>
                <a class="dropdown-item J_report"><i class="icon mdi mdi-microsoft-excel"></i> [[${bundle.L('报表')}]]</a>
              </div>
            </div>
            <div th:if="${detailEntity != null}" class="col-12 col-lg-6 J_add-detail">
              <button class="btn btn-secondary" type="button" data-toggle="dropdown"><i class="icon x14 mdi mdi-playlist-plus"></i> [[${bundle.L('添加明细')}]]</button>
              <div class="dropdown-menu dropdown-menu-right J_add-detail-menu">
                <a th:each="e : ${detailEntities}" class="dropdown-item" th:data-entity="${e[1]}" th:data-label="${e[2]}" th:data-icon="${e[3]}">
                  <i class="icon zmdi" th:classappend="|zmdi-${e[3]}|"></i> [[${e[2]}]]
                </a>
              </div>
            </div>
            <div class="col-12 col-lg-6 J_add-related">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"><i class="icon zmdi zmdi-plus"></i> [[${bundle.L('新建相关')}]]</button>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item admin-show J_view-addons" data-type="ADD"><i class="icon zmdi zmdi-settings"></i>[[${bundle.L('配置新建项')}]]</a>
              </div>
            </div>
            <div class="col-12 col-lg-6 J_transform hide">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"><i class="icon mdi mdi-transfer"></i> [[${bundle.L('转换为')}]]</button>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item admin-show" target="_blank" th:href="|${baseUrl}/admin/robot/transforms|"> <i class="icon zmdi zmdi-settings"></i>[[${bundle.L('配置记录转换')}]] </a>
              </div>
            </div>
          </div>
          <div class="fjs-dock"></div>
          <div class="view-user">
            <div class="form-line">
              <fieldset><legend>[[${bundle.L('用户')}]]</legend></fieldset>
            </div>
            <dl class="row">
              <dt class="col-12 col-lg-4">[[${bundle.L('所属用户')}]]</dt>
              <dd class="col-12 col-lg-8 J_owningUser"></dd>
            </dl>
            <dl class="row">
              <dt class="col-12 col-lg-4">[[${bundle.L('共享用户')}]]</dt>
              <dd class="col-12 col-lg-8 J_sharingList"></dd>
            </dl>
          </div>
          <div class="view-date">
            <div class="form-line">
              <fieldset><legend>[[${bundle.L('日期')}]]</legend></fieldset>
            </div>
            <dl class="row">
              <dt class="col-12 col-lg-4">[[${bundle.L('创建时间')}]]</dt>
              <dd class="col-12 col-lg-8 J_createdOn"></dd>
            </dl>
            <dl class="row">
              <dt class="col-12 col-lg-4">[[${bundle.L('修改时间')}]]</dt>
              <dd class="col-12 col-lg-8 J_modifiedOn"></dd>
            </dl>
          </div>
          <div class="view-history invisible2" th:if="${ShowViewHistory}">
            <div class="form-line">
              <fieldset>
                <legend>
                  [[${bundle.L('修改历史')}]] <a class="admin-show inline" target="_blank" th:title="${bundle.L('查看详情')}"><i class="zicon mdi mdi-clock-edit-outline down-1"></i></a>
                </legend>
              </fieldset>
            </div>
            <ul class="view-history-items list-unstyled"></ul>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="~{/_include/footer}" />
    <script>
      window.__PageConfig = {
        type: 'RecordView',
        entity: ['[[${entityName}]]', '[[${entityLabel}]]', '[[${entityIcon}]]'],
        privileges: [(${entityPrivileges})],
        viewTabs: [(${ViewTabs})],
        viewTabsAutoExpand: '[[${ViewTabsAutoExpand}]]',
        viewTabsAutoHide: '[[${ViewTabsAutoHide}]]',
        viewTabsDefaultList: '[[${ViewTabsDefaultList}]]',
        viewAdds: [(${ViewAdds})],
        transformTos: [(${TransformTos})],
        recordId: '[[${id}]]',
        forceSubView: true,
        statsField: true,
        easyAction: [(${easyAction ?:'null'})],
      }
    </script>
    <script th:src="@{/assets/js/feeds/feeds-post.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/feeds/feeds-list.js}" type="text/babel"></script>
    <th:block th:replace="~{/_include/forms}" />
    <script th:src="@{/assets/js/general/rb-view.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/general/rb-view.append.js}" type="text/babel"></script>
  </body>
</html>
