<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <title th:text="${entityLabel}"></title>
    <style>
      .dataTables_wrapper .rb-datatable-header,
      .dataTables_wrapper .rb-datatable-header.header-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #f7f7f7;
        z-index: 10;
      }
      #react-list {
        margin-top: 60px;
        margin-bottom: 0;
      }
      .dataTables_wrapper .rb-datatable-header.footer-fixed + .data-list .rb-datatable-footer {
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
      }
    </style>
  </head>
  <body class="dialog">
    <div class="main-content container-fluid p-0">
      <div class="card card-table">
        <div class="card-body">
          <div class="dataTables_wrapper container-fluid">
            <div class="row rb-datatable-header">
              <div class="col-6">
                <div class="dataTables_filter">
                  <div class="input-group input-search">
                    <input class="form-control" type="text" th:placeholder="${quickFieldsLabel ?:bundle.L('快速查询')}" th:title="${quickFieldsLabel}" maxlength="40" />
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button"><i class="icon zmdi zmdi-search"></i></button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="dataTables_oper">
                  <button class="btn btn-space btn-primary btn-outline J_select" type="button"><i class="icon zmdi zmdi-check"></i> [[${bundle.L('选择')}]]</button>
                  <a th:if="${canCreate}" target="_blank" class="btn btn-space btn-primary" th:href="|${baseUrl}/app/${entityName}/list#!/New|">
                    <i class="icon zmdi zmdi-plus"></i> [[${bundle.L('新建')}]]
                  </a>
                </div>
              </div>
            </div>
            <div id="react-list" class="rb-loading rb-loading-active data-list">
              <th:block th:replace="~{/_include/spinner}" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="~{/_include/footer}" />
    <script>
      window.__PageConfig = {
        type: 'RecordList',
        entity: ['[[${entityName}]]', '[[${entityLabel}]]', '[[${entityIcon}]]'],
        listConfig: [(${DataListConfig})],
        advFilter: false,
        protocolFilter: '[[${referenceFilter}]]',
      }
    </script>
    <script th:src="@{/assets/js/rb-datalist.common.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/rb-datalist.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/rb-forms.append.js}" type="text/babel"></script>
    <script type="text/babel">
      RbList.renderAfter = function () {
        parent && parent.referenceSearch__dlg && parent.referenceSearch__dlg.resize()
      }
      $(document).ready(function () {
        $('.J_select').on('click', () => {
          const ss = RbListPage._RbList.getSelectedIds()
          if (ss.length > 0 && parent && parent.referenceSearch__call) parent.referenceSearch__call(ss)
        })
        // $('.J_new2').click(function () {
        //   const entity = window.__PageConfig.entity
        //   const props = { title: $L('新建%s', entity[1]), entity: entity[0], icon: entity[2], disposeOnHide: true }
        //   if (parent && parent.RbFormModal) parent.RbFormModal.create(props, true)
        // })
      })
    </script>
  </body>
</html>
