<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <title>[[${bundle.L('SomeManage,Attachment')}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/files.css}" />
  </head>
  <body>
    <div class="rb-wrapper rb-fixed-sidebar rb-collapsible-sidebar rb-collapsible-sidebar-hide-logo rb-aside" th:classappend="${sideCollapsedClazz}">
      <th:block th:replace="~{/_include/nav-top}" />
      <th:block th:replace="~{/_include/nav-left(active='nav_entity-Attachment')}" />
      <div class="rb-content rb-no-padding">
        <aside class="page-aside widgets">
          <a class="side-toggle" th:title="${bundle.L('Toggle')}"><i class="zmdi zmdi-arrow-left"></i></a>
          <div class="tab-container">
            <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link active" href="attachment">[[${bundle.L('Attachment')}]]</a></li>
              <li class="nav-item"><a class="nav-link" href="docs">[[${bundle.L('File')}]]</a></li>
            </ul>
            <div class="tab-content rb-scroller">
              <div class="tab-pane active" id="navTree">
                <div class="ph-item rb">
                  <div class="ph-col-12 p-0">
                    <div class="ph-row">
                      <div class="ph-col-12 big"></div>
                      <div class="ph-col-12 big"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </aside>
        <div class="main-content container-fluid">
          <div class="file-header">
            <div class="file-path">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active">[[${bundle.L('AllSome,Attachment')}]]</li>
              </ol>
            </div>
            <div class="file-operator">
              <div class="row">
                <div class="col-lg-6 col-12">
                  <div class="input-group input-search">
                    <input class="form-control" type="text" th:placeholder="${bundle.L('Search')}" maxlength="40" />
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button"><i class="icon zmdi zmdi-search"></i></button>
                    </span>
                  </div>
                </div>
                <div class="col-lg-6 col-12 text-lg-right mt-lg-0 mt-md-2 mt-sm-2">
                  <div class="btn-group btn-space mb-0 mr-0 J_sort">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                      <span>[[${bundle.L('DefaultSort')}]]</span>
                      <i class="icon zmdi zmdi-chevron-down up-1"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" data-sort="newer">[[${bundle.L('SortUploadDesc')}]]</a>
                      <a class="dropdown-item" data-sort="older">[[${bundle.L('SortUploadAsc')}]]</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="file-viewport"></div>
        </div>
      </div>
    </div>
    <th:block th:replace="~{/_include/footer}" />
    <script th:src="@{/assets/js/files/files.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/files/files-attachment.js}" type="text/babel"></script>
  </body>
</html>
