<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <meta name="page-help" content="https://getrebuild.com/docs/dev/how-use-apis" />
    <title>[[${bundle.$L('API 秘钥')}]]</title>
  </head>
  <body>
    <div class="rb-wrapper rb-fixed-sidebar rb-collapsible-sidebar rb-collapsible-sidebar-hide-logo rb-color-header" th:classappend="${sideCollapsedClazz}">
      <th:block th:replace="~{/_include/nav-top}" />
      <th:block th:replace="~{/_include/nav-left-admin(active='apis-manager')}" />
      <div class="rb-content">
        <div class="page-head">
          <div class="float-left"><div class="page-head-title">[[${bundle.$L('API 秘钥')}]]</div></div>
          <div class="float-right pt-1">
            <button class="btn btn-primary J_add" type="button"><i class="icon zmdi zmdi-plus"></i> [[${bundle.$L('添加')}]]</button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="main-content container-fluid pt-0">
          <div class="card card-table">
            <div class="card-body">
              <div class="dataTables_wrapper container-fluid">
                <div class="row rb-datatable-body">
                  <div class="col-sm-12">
                    <div class="rb-loading rb-loading-active data-list">
                      <table class="table table-hover table-striped table-fixed">
                        <thead>
                          <tr>
                            <th width="10%">APP ID</th>
                            <th width="30%">APP SECRET</th>
                            <th>[[${bundle.$L('绑定用户 (权限)')}]]</th>
                            <th>[[${bundle.$L('调用量 (30 天)')}]]</th>
                            <th width="120">[[${bundle.$L('创建时间')}]]</th>
                            <th width="50"></th>
                          </tr>
                        </thead>
                        <tbody id="appList"></tbody>
                      </table>
                      <th:block th:replace="~{/_include/spinner}" />
                      <div class="list-nodata hide">
                        <span class="zmdi zmdi-key"></span>
                        <p>[[${bundle.$L('暂无 API 秘钥')}]]</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="pagination">
                  <div class="row rb-datatable-footer">
                    <div class="col-sm-3"><div class="dataTables_info"></div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="~{/_include/footer}" />
    <script th:src="@{/assets/js/admin/apis-manager.js}" type="text/babel"></script>
  </body>
</html>
