<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <title>[[${bundle.L('SomeConf,CloudStorage')}]]</title>
  </head>
  <body>
    <div class="rb-wrapper rb-fixed-sidebar rb-collapsible-sidebar rb-collapsible-sidebar-hide-logo rb-color-header" th:classappend="${sideCollapsedClazz}">
      <th:block th:replace="~{/_include/nav-top}" />
      <th:block th:replace="~{/_include/nav-left-admin(active='integration-storage')}" />
      <div class="rb-content">
        <div class="main-content container-fluid syscfg">
          <div class="row">
            <div class="col-lg-9 col-12">
              <div class="card">
                <div class="card-header card-header-divider">
                  [[${bundle.L('Qiniu')}]]
                  <a href="#modfiy" class="float-right"><i class="icon zmdi zmdi-edit"></i> [[${bundle.L('Modify')}]]</a>
                </div>
                <div class="card-body">
                  <h5>[[${bundle.L('CloudStorage')}]]</h5>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td width="40%">[[${bundle.L('StorageDomain')}]]</td>
                        <td data-id="StorageURL" th:data-value="${storageAccount == null ? '' : storageAccount[3]}">[[${storageAccount == null ? bundle.L('Unset') : storageAccount[3]}]]</td>
                      </tr>
                      <tr>
                        <td>
                          [[${bundle.L('StorageBucket')}]]
                          <p>[[${bundle.L('StorageBucketTips')}]]</p>
                        </td>
                        <td data-id="StorageBucket" th:data-value="${storageAccount == null ? '' : storageAccount[2]}">[[${storageAccount == null ? bundle.L('Unset') : storageAccount[2]}]]</td>
                      </tr>
                      <tr>
                        <td>[[${bundle.L('StorageAk')}]]</td>
                        <td data-id="StorageApiKey" th:data-value="${storageAccount == null ? '' : storageAccount[0]}">[[${storageAccount == null ? bundle.L('Unset') : storageAccount[0]}]]</td>
                      </tr>
                      <tr>
                        <td>[[${bundle.L('StorageSk')}]]</td>
                        <td data-id="StorageApiSecret" th:data-value="${storageAccount == null ? '' : storageAccount[1]}">[[${storageAccount == null ? bundle.L('Unset') : storageAccount[1]}]]</td>
                      </tr>
                    </tbody>
                  </table>
                  <div th:if="${!_StorageCloud}" class="alert alert-warning alert-icon mt-6">
                    <div class="icon"><span class="zmdi zmdi-alert-triangle"></span></div>
                    <div class="message">[[${bundle.L('StorageFallback')}]]</div>
                  </div>
                  <div class="edit-footer">
                    <button class="btn btn-link">[[${bundle.L('Cancel')}]]</button>
                    <button class="btn btn-primary">[[${bundle.L('Save')}]]</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-12">
              <div class="card">
                <div class="card-header card-header-divider">[[${bundle.L('StorageSize')}]]</div>
                <div class="card-body">
                  <strong class="fs-16">[[${_StorageSize}]]</strong>
                  ([[${bundle.L(_StorageCloud ? 'Qiniu' : 'LocalStorage')}]])
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="~{/_include/footer}" />
    <script th:src="@{/assets/js/admin/syscfg.js}" type="text/babel"></script>
  </body>
</html>
