<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/chat-view.css}" />
    <meta name="viewport" content="minimal-ui,width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>[[${_AiBot}]]</title>
  </head>
  <body>
    <div id="chat-wrapper">
      <div class="rb-loading rb-loading-active must-center">
        <th:block th:replace="~{/_include/spinner}" />
      </div>
    </div>
    <div th:if="${pageFooter != null}" class="page-footer">
      <a class="ai-color link" href="https://getrebuild.com/market/go/aibot" target="_blank">[(${pageFooter})]</a>
    </div>
    <th:block th:replace="~{/_include/footer}" />
    <th:block th:replace="~{/_include/forms}" />
    <script th:src="@{/assets/js/aibot/chat-view.js}" type="text/babel"></script>
  </body>
</html>
