<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <meta name="page-help" content="https://getrebuild.com/docs/manual/notifications" />
    <title>[[${bundle.L('通知')}]]</title>
    <style>
      .notification-info .badge {
        border-radius: 99px;
        font-weight: normal;
        font-size: 12px;
        line-height: 1.5;
      }
    </style>
  </head>
  <body>
    <div class="rb-wrapper rb-fixed-sidebar rb-collapsible-sidebar rb-collapsible-sidebar-hide-logo rb-offcanvas-menu">
      <th:block th:replace="~{/_include/nav-top}" />
      <th:block th:replace="~{/_include/nav-left}" />
      <div class="rb-content">
        <div class="main-content container">
          <div class="tab-container">
            <ul class="nav nav-tabs nav-tabs-classic notification-tab">
              <li class="nav-item">
                <a class="nav-link" href="../notifications"><span class="icon zmdi zmdi-notifications"></span> [[${bundle.L('消息')}]]</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="todo"><span class="icon zmdi zmdi-alarm-check"></span> [[${bundle.L('待办')}]]</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active">
                <div class="row">
                  <div class="col-md-3 col-12">
                    <div class="list-group notification-type">
                      <a href="#approval" data-type="20" class="list-group-item d-flex list-group-item-action active">
                        <span class="text">[[${bundle.L('待我审批')}]]</span>
                        <span class="badge badge-pill badge-primary hide">0</span>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-9 col-12" id="message-list"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="~{/_include/footer}" />
    <script>
      window.__PageConfig = {
        type: 'Approval',
      }
    </script>
    <script th:src="@{/assets/js/notifications.js}" type="text/babel"></script>
  </body>
</html>
