<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/approvals.css}" />
    <title>REBUILD</title>
    <style>
      html,
      body,
      pre {
        background-color: #fff;
        max-height: 100%;
        overflow: hidden;
        text-align: center;
      }
      pre.mermaid {
        color: #fff;
        padding: 0;
        margin: 0;
      }
      .edgeLabel {
        background-color: #fff !important;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <div>
      <pre class="mermaid">
      [(${mermaidData})]
      </pre>
    </div>
    <div class="zoom hide">
      <a class="zoom-in">
        <i class="zmdi zmdi-plus"></i>
      </a>
      <span>100%</span>
      <a class="zoom-out">
        <i class="zmdi zmdi-minus"></i>
      </a>
    </div>
    <script th:src="@{/assets/lib/jquery.min.js?v=3.6.0}"></script>
    <script th:src="@{/assets/lib/jquery-ui.min.js?v=1.13.1}"></script>
    <script th:src="@{/assets/lib/charts/mermaid.min.js?v=10.4.0}"></script>
    <script th:src="@{/assets/lib/react/babel.js?v=6.26.0}"></script>
    <script type="text/babel">
      $(document).ready(() => {
        const $node = $('.mermaid')

        mermaid.initialize({
          securityLevel: 'loose',
          startOnLoad: false,
        })
        mermaid
          .run({
            nodes: $node,
          })
          .then(() => {
            $('.zoom').removeClass('hide')
          })
          .catch((err) => {
            console.error(err)
          })

        let zoom = 100
        function setZoom(z) {
          zoom += z
          if (zoom < 20) zoom = 20
          if (zoom > 1000) zoom = 1000

          $('.zoom > span').text(zoom + '%')
          $node.css('transform', `scale(${zoom / 100})`)
        }
        $('.zoom .zoom-in').on('click', () => setZoom(10))
        $('.zoom .zoom-out').on('click', () => setZoom(-10))

        $node.draggable({ cursor: 'move', scroll: false })

        $(document).on('mousewheel', (e) => {
          const value = e.originalEvent.wheelDelta || -e.originalEvent.detail
          const delta = Math.max(-1, Math.min(1, value))
          setZoom(delta < 0 ? -10 : 10)
        })
      })
    </script>
  </body>
</html>
