<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <meta http-equiv="refresh" content="1800" />
    <title>[[${bundle.L('分享文件')}]]</title>
    <style>
      .preview-modal .preview-header .float-right a:first-child {
        display: none;
      }
      .preview-modal {
        background-color: transparent;
        z-index: 10;
      }
      .preview-modal .preview-header {
        background-color: #28a745;
      }
      .sharebox .zmdi {
        color: #aaa;
        font-size: 81px;
      }
    </style>
  </head>
  <body>
    <div class="sharebox must-center">
      <i class="zmdi zmdi-share animated flash infinite slow"></i>
    </div>
    <div th:if="${pageFooter != null}" class="page-footer">[(${pageFooter})]</div>
    <th:block th:replace="~{/_include/footer}" />
    <script>
      window.__PageConfig = {
        publicUrl: '[[${publicUrl}]]'.replace('&amp;', '&'),
      }
    </script>
    <script type="text/babel">
      $(document).ready(() => {
        renderRbcomp(<RbPreview urls={[window.__PageConfig.publicUrl]} unclose />)
      })
    </script>
  </body>
</html>
