<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <meta name="page-help" content="https://getrebuild.com/docs/admin/triggers" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/triggers.css}" />
    <title>[[${bundle.L('Trigger')}]]</title>
  </head>
  <body>
    <div class="rb-wrapper rb-fixed-sidebar rb-collapsible-sidebar rb-collapsible-sidebar-hide-logo rb-color-header" th:classappend="${sideCollapsedClazz}">
      <th:block th:replace="~{/_include/nav-top}" />
      <th:block th:replace="~{/_include/nav-left-admin(active='robot-trigger')}" />
      <div class="rb-content">
        <div class="page-head">
          <div class="page-head-title">[[${bundle.L('Trigger')}]]<span class="sub-title">[[${name ?: bundle.L('Unname')}]]</span></div>
          <div class="clearfix"></div>
        </div>
        <div class="main-content container-fluid pt-0">
          <div class="card mb-0">
            <div class="card-body">
              <ul class="timeline spare">
                <li class="timeline-item">
                  <div class="timeline-date"><span>[[${bundle.L('WhenTriggerAction')}]]</span></div>
                  <div class="timeline-content">
                    <form class="simple">
                      <div class="form-group row">
                        <label class="col-12 col-lg-3 col-form-label text-lg-right">[[${bundle.L('SourceEntity')}]]</label>
                        <div class="col-12 col-lg-9">
                          <div class="form-control-plaintext text-bold">[[${sourceEntityLabel}]]</div>
                        </div>
                      </div>
                      <div class="form-group row pt-0 pb-0">
                        <label class="col-12 col-lg-3 col-form-label text-lg-right">[[${bundle.L('TriggerAction')}]]</label>
                        <div class="col-12 col-lg-9 pt-1 J_when">
                          <label class="custom-control custom-control-sm custom-checkbox custom-control-inline mb-0">
                            <input class="custom-control-input" type="checkbox" value="1" />
                            <span class="custom-control-label"> [[${bundle.L('WhenCreate')}]]</span>
                          </label>
                          <label class="custom-control custom-control-sm custom-checkbox custom-control-inline mb-0">
                            <input class="custom-control-input" type="checkbox" value="4" />
                            <span class="custom-control-label"> [[${bundle.L('WhenUpdate')}]]</span>
                          </label>
                          <label class="custom-control custom-control-sm custom-checkbox custom-control-inline mb-0">
                            <input class="custom-control-input" type="checkbox" value="2" />
                            <span class="custom-control-label"> [[${bundle.L('WhenDelete')}]]</span>
                          </label>
                          <div class="mt-1">
                            <label class="custom-control custom-control-sm custom-checkbox custom-control-inline mb-0">
                              <input class="custom-control-input" type="checkbox" value="16" />
                              <span class="custom-control-label"> [[${bundle.L('WhenAssign')}]]</span>
                            </label>
                            <label class="custom-control custom-control-sm custom-checkbox custom-control-inline mb-0">
                              <input class="custom-control-input" type="checkbox" value="32" />
                              <span class="custom-control-label"> [[${bundle.L('WhenShare')}]]</span>
                            </label>
                            <label class="custom-control custom-control-sm custom-checkbox custom-control-inline mb-0">
                              <input class="custom-control-input" type="checkbox" value="64" />
                              <span class="custom-control-label"> [[${bundle.L('WhenUnShare')}]]</span>
                            </label>
                          </div>
                          <div class="mt-1">
                            <label class="custom-control custom-control-sm custom-checkbox custom-control-inline mb-0">
                              <input class="custom-control-input" type="checkbox" value="128" />
                              <span class="custom-control-label"> [[${bundle.L('WhenApproved')}]]</span>
                            </label>
                            <label class="custom-control custom-control-sm custom-checkbox custom-control-inline mb-0">
                              <input class="custom-control-input" type="checkbox" value="256" />
                              <span class="custom-control-label">
                                [[${bundle.L('WhenRevoked')}]]
                                <i class="zmdi zmdi-help zicon down-1" th:title="${bundle.L('WhenRevokedTips')}" data-toggle="tooltip"></i
                              ></span>
                            </label>
                          </div>
                          <div class="mt-1">
                            <div>
                              <label class="custom-control custom-control-sm custom-checkbox custom-control-inline mb-0">
                                <input class="custom-control-input" type="checkbox" value="512" onclick="_handle512Change()" />
                                <span class="custom-control-label"> [[${bundle.L('JobExecution')}]] <sup class="rbv"></sup></span>
                              </label>
                            </div>
                            <div class="on-timers mt-1 hide">
                              <div class="input-group input-group-sm">
                                <select class="form-control form-control-sm J_whenTimer1">
                                  <option value="D">[[${bundle.L('EveryDay')}]]</option>
                                  <option value="M">[[${bundle.L('EveryMonth')}]]</option>
                                  <option value="H">[[${bundle.L('EveryHour')}]]</option>
                                </select>
                                <div class="input-group-prepend input-group-append">
                                  <span class="input-group-text">[[${bundle.L('Execution')}]]</span>
                                </div>
                                <input type="text" class="form-control form-control-sm text-center J_whenTimer2" placeholder="1" />
                                <div class="input-group-append">
                                  <span class="input-group-text">[[${bundle.L('Times')}]]</span>
                                </div>
                              </div>
                              <p class="form-text">[[${bundle.L('JobExecutionTips')}]]</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-12 col-lg-3 col-form-label text-lg-right">[[${bundle.L('SetAdvFiletr')}]]</label>
                        <div class="col-12 col-lg-9 J_whenFilter">
                          <a class="btn btn-sm btn-link pl-0 text-left down-2">[[${bundle.L('ClickSet')}]]</a>
                          <p class="form-text mb-0 mt-0">[[${bundle.L('SetFilterTriggerTips')}]]</p>
                        </div>
                      </div>
                    </form>
                  </div>
                </li>
                <li class="timeline-item">
                  <div class="timeline-date"><span>[[${bundle.L('JustExecutionAction')}]]</span></div>
                  <div class="timeline-content">
                    <form class="simple">
                      <div class="form-group row">
                        <label class="col-12 col-lg-3 col-form-label text-lg-right">[[${bundle.L('ExecutionAction')}]]</label>
                        <div class="col-12 col-lg-9">
                          <div class="form-control-plaintext text-bold">[[${actionTypeLabel}]]</div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-12 col-lg-3 col-form-label text-lg-right">[[${bundle.L('ActionContent')}]]</label>
                        <div class="col-12 col-lg-9">
                          <div id="react-content">[[${bundle.L('Loading')}]]</div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-12 col-lg-3 col-form-label text-lg-right">[[${bundle.L('ActionPriority')}]]</label>
                        <div class="col-12 col-lg-9">
                          <input type="number" class="form-control form-control-sm" id="priority" th:value="${priority}" th:data-o="${priority}" style="max-width: 200px" />
                          <p class="form-text mb-0">[[${bundle.L('ActionPriorityTips')}]]</p>
                        </div>
                      </div>
                    </form>
                  </div>
                </li>
                <li class="timeline-item last">
                  <div class="timeline-content">
                    <form class="simple">
                      <div class="form-group row footer">
                        <label class="col-12 col-lg-3 col-form-label text-lg-right"></label>
                        <div class="col-12 col-lg-9">
                          <button class="btn btn-primary J_save" type="button">[[${bundle.L('Save')}]]</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="~{/_include/footer}" />
    <script>
      window.__PageConfig = {
        configId: '[[${configId}]]',
        actionType: '[[${actionType}]]',
        sourceEntity: '[[${sourceEntity}]]',
        when: ~~'[[${when}]]',
        whenTimer: '[[${whenTimer}]]',
        whenFilter: _$unthy('[[${whenFilter}]]'),
        actionContent: _$unthy('[[${actionContent}]]'),
      }
    </script>
    <script th:src="@{/assets/js/rb-advfilter.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/metadata/field-compatible.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/metadata/field-valueset.js}" type="text/babel"></script>
    <script th:src="@{/assets/js/trigger/trigger-design.js}" type="text/babel"></script>
    <script th:src="|${baseUrl}/assets/js/trigger/trigger.${actionType}.js?v=2.1.0.1207|" type="text/babel"></script>
  </body>
</html>
