.chart-box {
	height: 100%;
	padding: 20px 25px;
}

.chart-box.TREEMAP {
	padding-bottom: 25px;
}

.chart-box.INDEX {
	padding-bottom: 0px;
}

.chart-box.high {
	outline: 2px solid #4285f4;
}

.chart-box .chart-body {
	height: 100%;
	z-index: 1;
	margin-top: -20px;
	padding-top: 20px;
}

.chart-box .chart-head {
	position: relative;
	margin: 0;
	z-index: 2;
	background-color: #fff;
}

.chart-box .chart-head .chart-title {
	cursor: move;
	margin-right: 80px;
	font-weight: bold;
	min-height: 20px;
}

.chart-box .chart-head .chart-oper {
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.chart-box .chart-head .chart-oper a {
	color: #aaa;
	display: inline-block;
	height: 20px;
	margin-left: 12px;
	padding-left: 3px;
}

.chart-box .chart-head .chart-oper a .zmdi {
	font-size: 1.3rem;
	vertical-align: middle;
}

.chart-box .chart-head .chart-oper a .zmdi-close {
	font-size: 1.43rem;
}

.chart-box .chart-head .chart-oper a:hover {
	color: #5a5a5a;
}

.chart-undata {
	margin: 0;
	color: #999;
	display: inline-block;
	font-size: 1.1rem;
}

.chart-body .chart {
	line-height: normal;
	height: 100%;
	cursor: default;
}

.chart.index {
	overflow: hidden;
	position: relative;
	margin-top: -15px;
}

.chart.index>.data-item {
	display: inline-block;
	text-align: left;
	max-width: 100%;
}

.chart.index>.data-item p {
	font-size: 1rem;
	color: #888;
	margin-bottom: 1px;
}

.chart.index>.data-item strong {
	font-size: 3.68rem;
	font-weight: 400;
}

.chart.ctable {
	position: relative;
	width: 100%;
	margin-top: 15px;
}

.chart.ctable .table {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

.chart.ctable .table td,
.chart.ctable .table th {
	padding: 8px 10px;
	cursor: default;
	font-size: 1rem;
}

.chart.ctable .table td.clk {
	outline: 1px solid #4285f4;
	background-color: #f5f8fd;
}

.chart.ctable .table th {
	background-color: #dee2e6;
	background-color: #eceff1;
	border-width: 1px;
	font-weight: normal;
}

.chart.ctable .table.line-number thead th:first-child,
.chart.ctable .table.line-number tbody th:first-child {
	width: 50px;
}

.chart.ctable .table.sums tbody tr:last-child td {
	font-weight: bold;
}