.chart-box {
	height: 100%;
}

.chart-box .chart-body {
	height: 100%;
	margin-top: -20px;
	z-index: 1;
}

.chart-box .chart-head {
	position: relative;
	margin: 0;
	z-index: 2;
	background-color: #fff;
}

.chart-box .chart-head .chart-title {
	cursor: move;
	margin-right: 80px;
	font-weight: bold;
	min-height: 20px;
}

.chart-box .chart-head .chart-oper {
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.chart-box .chart-head .chart-oper a {
	color: #999;
	display: inline-block;
	height: 20px;
}

.chart-box .chart-head .chart-oper a .zmdi {
	font-size: 1.4rem;
	vertical-align: middle;
	margin-left: 8px
}