/* Editor Page */

#boxes {
  min-height: 300px;
  padding: 10px 30px 30px;
}

.level-boxes .col-md-3 {
  margin-top: 15px
}

.level-boxes .col-md-3 ol {
  background-color: #eee;
  padding: 3px 5px;
  border-radius: 3px
}

.level-boxes .col-md-3 h5 {
  margin-top: 3px
}

.level-boxes form .input-group {
  position: relative;
}

.level-boxes form .input-group .custom-control {
  position: absolute;
  margin: 0;
  background-color: #fff;
  right: 65px;
  margin-top: 9px;
  padding-right: 5px;
  z-index: 91;
}

.level-boxes form .input-group .btn {
  width: 60px;
}

.level-boxes .col-md-3.off form,
.level-boxes .col-md-3.off ol {
  display: none;
}

.level-boxes .col-md-3:first-child .turn-on {
  display: none;
}

.dd-list .dd-item.active>.dd-content {
  background-color: #dedede !important
}

.dd-list .dd-item .dd-handle {
  margin: 3px 0;
}

.dd-list .dd-item .dd-action {
  padding-right: 2px;
}

.dd-list .dd-item .dd-action a {
  font-size: 1.23rem;
  margin-top: 1px;
  display: inline-block;
  padding: 7px 1px;
  margin-right: 6px;
  opacity: 0.7;
}

.dd-list .dd-item .dd-action a:hover {
  opacity: 1;
}

.dd-list .dd-item .dd-handle:hover {
  color: #404040;
  background: #fff;
  border-color: #dedede
}

.dd-list .dd-item.active .dd-handle {
  background: #dedede !important;
}

.dd-list .dd-item .arrow {
  position: absolute;
  right: -7px;
  top: 1px;
  font-size: 34px;
  color: #dedede;
}

.dd-list:empty::after {
  content: '暂无分类项';
  text-align: center;
  color: #aaa;
  padding: 7px;
  display: block;
}

.modal-body .rb-loading {
  min-height: 162px;
}

.modal-body .rbs-indexes {
  padding: 10px 15px;
}