.feeds-container {
  max-width: 1160px;
  padding-left: 40px;
  padding-right: 40px;
}

.feeds-container .rb-loading {
  background-color: #fff;
  min-height: 300px;
  width: 100%;
}

.rich-input {
  border: 1px solid #eee;
  border-radius: 2px;
  line-height: 1;
  overflow: hidden;
  margin-top: -1px;
}

.rich-input.active {
  border-color: #ddd;
}

.rich-input textarea {
  width: 100%;
  padding: 8px 10px;
  padding-bottom: 6px;
  border: 0 none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
  font-size: 1rem;
  line-height: 1.6;
  height: 55px;
}

.rich-input .action-btns {
  background-color: #f5f5f5;
  padding: 0 4px;
  padding-top: 1px;
}

.rich-input .action-btns li>a {
  display: inline-block;
  padding: 7px 5px;
  font-size: 19px;
  color: #888;
  width: 32px;
  text-align: center;
  position: relative;
}

.rich-input .action-btns li>a .zmdi.at-text {
  font-weight: 600;
  font-size: 18px;
  transform: translateY(-1px);
}

.mount {
  position: absolute;
  z-index: 999;
  margin-top: 28px;
  margin-left: -28px;
}

.mount .user-selector {
  margin-top: -10px;
}

.mount .user-selector .selection {
  display: none;
}

.emoji-wrapper {
  background-color: #fff;
  width: 397px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .12);
  border: 1px solid #ebeff2;
  border-right-width: 0;
}

.emoji-wrapper>a {
  display: inline-block;
  border-right: 1px solid #ebeff2;
  border-bottom: 1px solid #ebeff2;
  font-size: 0;
  padding: 0;
}

.emoji-wrapper>a img {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 3px;
}

.emoji-wrapper>a:hover {
  background-color: #ebeff2
}

.feeds-container>.rb-loading {
  height: 100%;
}

.feeds-post {
  padding: 20px;
  background-color: #fff;
}

.feeds-post>.list-unstyled a {
  display: inline-block;
  padding: 2px 6px;
}

.feeds-post>.list-unstyled a:hover {
  color: #4285f4;
}

.btn.btn-scope {
  width: auto;
  min-width: 0;
}

.btn.btn-scope>.zmdi {
  margin-right: 6px;
}

.search-bar {
  background-color: #fff;
  margin-bottom: 5px;
  margin-top: 15px;
  position: sticky;
  top: 60px;
  z-index: 1;
}

.search-bar .nav-tabs {
  border-color: #fff;
  position: relative;
}

.search-bar .nav-tabs>li.nav-item a.nav-link {
  padding-top: 12px;
  padding-bottom: 9px;
  font-weight: bold;
}

.search-bar .nav-tabs>li.nav-item a.nav-link.active {
  color: #4285f4;
}

.search-bar span.float-right {
  position: absolute;
  right: 20px;
  margin-top: 3px;
}

.feeds-list>div {
  padding: 12px 20px 6px;
  margin: 5px 0;
  background-color: #fff;
}

.feeds-list>div:last-child {
  margin-bottom: 0;
}

.feeds-list .feeds {
  display: flex;
}

.feeds-list .feeds>.user {
  min-width: 54px;
  width: 54px;
  font-size: 0;
  line-height: 1;
}

.feeds-list .feeds>.user .avatar {
  width: 36px;
  height: 36px;
}

.feeds-list .feeds>.content {
  flex-grow: 1;
}

.feeds-list .feeds>.content .meta .badge {
  color: #aaa;
  font-weight: normal;
  border-radius: 99px;
  line-height: 1.4;
}

.feeds-list .feeds>.content .rich {
  font-size: 1.1rem;
  padding: 5px 0;
  line-height: 1.5;
}

.feeds-list .feeds>.content .rich>img.emoji {
  width: 26px;
  height: 26px;
  line-height: 1;
  font-size: 0;
}

.feeds-list .actions {
  margin-top: 7px;
  padding-top: 5px;
  border-top: 1px solid #eee;
  text-align: right;
}

.feeds-list .actions li {
  padding: 0;
  margin: 0;
}

.feeds-list .actions li>a {
  display: inline-block;
  padding: 6px 10px 6px 26px;
  padding-right: 0;
}

.feeds-list .actions li>a:hover,
.feeds-list .actions li>a.active {
  color: #4285f4;
}

.feeds-list .actions li>a>.zmdi {
  left: 6px;
}

.feeds-pages {
  margin-top: 10px;
}

.feeds-pages .float-left>p {
  margin: 0;
  margin-top: 9px;
}

.feeds-pages .pagination {
  margin-bottom: 0;
}

.feeds-list .list-nodata {
  background-color: transparent;
}

.comments {
  margin-left: 56px;
  margin-top: 4px;
  margin-bottom: 10px;
}

.comments .comment-reply {
  background-color: #f5f5f5;
  padding: 15px;
  margin-bottom: 15px;
}

.comments .rich-input {
  margin-top: 0;
}

.comments .rich-input textarea {
  height: 36px;
}

.comments .reply-mask {
  border: 1px solid #eee;
  border-radius: 2px;
  background-color: #fff;
  height: 39px;
  color: #aaa;
  padding: 9px 10px;
  cursor: text;
}

.comments .reply-mask:hover {
  border-color: #ddd;
}

.comment-list>div {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  margin: 0;
  margin-top: 5px;
}

.comment-list .feeds>.user {
  width: 42px;
  min-width: 46px;
}

.comment-list .feeds>.user .avatar {
  width: 32px;
  height: 32px;
}

.comment-list .feeds>.content .meta>.float-right>span {
  color: #aaa;
  font-size: 12px;
}

.comment-list .feeds>.content .meta>.float-right .fixed-icon {
  padding-left: 10px;
  padding-right: 2px;
  margin-left: 10px;
}

.comment-list .feeds>.content .meta>.float-right .fixed-icon>.zmdi {
  left: auto;
  right: 0;
}

.comment-list .actions {
  border-top: 0 none;
  padding-top: 0;
  margin-top: 0;
}

.comment-list .actions .time {
  margin-top: 8px;
}

.comments .feeds-pages {
  margin-bottom: 15px;
}

.comments .feeds-pages .float-left>p {
  margin-top: 3px;
  display: none;
}

.side-wrapper {
  position: sticky;
  top: 60px;
  background-color: #f5f5f5;
  padding: 20px;
}

.fixed-icon {
  position: relative;
  padding-left: 17px;
  color: #777;
}

.fixed-icon>.zmdi {
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  margin-top: 2px;
}

.fixed-icon.right {
  padding-left: 0;
  padding-right: 17px;
}

.fixed-icon.right>.zmdi {
  left: auto;
  right: 0;
}

.arrow_box {
  position: relative;
  background: #fff;
  border-top: 1px solid #4285f4;
  width: 32px;
  transition: margin-left linear 0.1s;
}

.arrow_box:after,
.arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}

.arrow_box:before {
  border-color: rgba(66, 133, 244, 0);
  border-bottom-color: #4285f4;
  border-width: 7px;
  margin-left: -7px;
}