.btn {
	min-height: 2.8rem;
	min-width: 88px;
}
.btn-lg {
	min-width: 108px;
}

.btn-xl {
	height: 3.4rem;
}

.input-search, .input-search input {
	width: 240px;
	height: 2.8rem;
	border-radius: 2px;
}

.input-search .input-group-btn button {
	height: 2.6rem;
	min-height: 2.6rem;
	min-width: auto;
}

.input-search .input-group-btn button .icon {
	font-size: 1.53rem;
}

.rb-collapsible-sidebar-collapsed .page-aside {
	left: 60px;
}

.font-desc {
	font-size: 12px;
	color: #888;
}

.rb-aside .page-head {
	margin-left: 280px;
}

.modal-body.iframe {
	padding: 0 !important;
}

.modal-body.iframe iframe {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body.dialog {
	background-color: #fff;
}

body.dialog .main-content {
	min-height: 155px;
}

body.dialog .main-content .footer {
	padding-bottom: 0 !important;
}

.select2-search--dropdown .select2-search__field {
	padding: 3px 6px
}

textarea.row2x {
	height: 52px !important;
	resize: none;
}

textarea.row3x {
	height: 72px !important;
	resize: none;
}

a {
	cursor: pointer;
}

.hide {
	display: none;
}

.form-control-plaintext {
	font-size: 1rem;
	padding: 7px 0;
}

.rb-datatable-body {
	min-height: 200px;
}

.rb-form .type-IMAGE {
	padding-bottom: 1px !important;
}

.rb-form .type-FILE {
	padding-bottom: 4px !important;
}

.img-field>span {
	margin-bottom: 6px;
	margin-right: 8px;
	display: inline-block;
}

.img-field .img-upload {
	width: 72px;
	height: 72px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding: 1px;
	position: relative;
}

.img-field .img-upload>img {
	max-width: 100%;
	max-height: 100%;
}

.img-field label.img-upload{
	padding-top: 5px;
}
.img-field label.img-upload:hover {
	border: 1px solid #5f99f5;
}

.img-field label.img-upload .zmdi {
	font-size: 2rem;
	color: #aaa;
}

.img-field a.img-upload {
	cursor: default;
}

.img-field a.img-upload b, .file-field .img-thumbnail b {
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
	font-size: 14px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	text-align: center;
}

.img-field a.img-upload:hover b, .file-field .img-thumbnail:hover b {
	display: block;
}

.img-field a.img-upload:hover b:hover, .file-field .img-thumbnail:hover b:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.file-field .file-select {
	margin-top: 1px;
}

.file-field .img-thumbnail {
	display: inline-block;
	padding: 4px;
	max-width: 240px;
	min-height: 38px;
	margin-bottom: 4px;
	margin-right: 8px;
	overflow: hidden;
	position: relative;
}

.file-field .img-thumbnail>i.zmdi {
	font-size: 36px;
	float: left;
	width: 42px;
	text-align: center;
}

.file-field .img-thumbnail>span {
	margin-left: 42px;
	display: block;
	word-break: break-all;
}

.datetime-field .input-group-append button {
	min-width: 38px;
}