html,
body {
	overflow: auto;
	height: 100%;
}

.main-content {
	margin-top: 60px;
}

.tab-container {
	margin-top: -8px
}

.tab-content {
	padding: 0;
	margin: 0;
	padding-top: 13px
}

.view-header {
	padding: 15px 20px;
	height: 60px;
	border-bottom: 1px solid #e3e3e3;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1001;
	background-color: rgba(255, 255, 255, .8);
	background-color: #fff;
}

.view-header .header-icon {
	float: left;
}

.view-header .title {
	line-height: 1.428571;
	display: inline-block;
	margin: 0;
	font-weight: 300;
	font-size: 1.538rem
}

.view-header>span>.close {
	font-size: 1.638rem;
	opacity: .6;
	padding: 1rem;
	margin: -1rem -1rem -1rem auto;
	height: 40px;
	margin-top: -10px;
}

.view-header>span>.close.sm {
	font-size: 1.45rem;
	margin-right: -7px;
}

.view-header>span>.close:hover {
	opacity: .8;
}

.nav-tabs>li.nav-item a.nav-link {
	padding: 11px 15px;
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.nav-tabs,
.nav-tabs>li.nav-item {
	position: relative;
}

.nav-tabs .vtab-settings {
	position: absolute;
	right: 0;
	top: 4px;
	display: inline-block;
	padding: 9px 8px;
	font-size: 15px;
	opacity: 0.6;
	display: none;
}

.nav-tabs .vtab-settings:hover {
	opacity: 0.8
}

.nav-tabs:hover .vtab-settings {
	display: inline-block;
}

.nav-tabs .badge {
	position: absolute;
	top: -1px;
	right: -4px;
	font-size: .8462rem;
	font-weight: normal;
}

.related-list {
	min-height: 200px
}

.related-list .card {
	border: 1px solid #ebebeb;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, .04);
	padding: 10px 15px;
	margin-bottom: 9px;
}

.related-list .card .float-right {
	color: #aaa;
	cursor: help;
}

.view-operating {
	padding-left: 30px;
}

.view-operating>div {
	margin-bottom: 15px !important;
}

.view-operating .row,
.view-operating .form-line {
	margin-bottom: 10px;
}

.view-operating dt {
	font-weight: normal;
}

.view-action {
	margin-top: 33px;
}

.view-action .col-lg-6 {
	margin-bottom: .769231rem;
}

.view-action .col-lg-6:nth-child(odd) {
	padding-right: 0.384615rem;
}

.view-action .col-lg-6:nth-child(even) {
	padding-left: 0.384615rem;
}

.view-action .col-lg-6 .btn {
	width: 100%
}

.view-action.empty {
	margin-top: 4px;
}

@media screen and (max-width: 991px) {
	.view-action .col-lg-6 {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}

.btn.load-mores {
	display: inline-block;
	min-width: 200px;
	line-height: 2.8rem;
	border-radius: 99px;
}

.user-show {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.user-show:hover {
	opacity: 0.8;
}

.user-show>div {
	display: inline-block;
}

.user-show .avatar {
	overflow: hidden;
	font-size: 0;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #ddd;
	text-align: center;
	vertical-align: middle;
}

.user-show .avatar>img {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.user-show .avatar>i.zmdi {
	font-size: 1.7rem;
	margin-top: 4px;
	color: #666;
}

.user-show .name {
	margin-left: 6px;
	height: 30px;
	line-height: 16px;
	line-height: 30px;
	color: #4285f4;
}

.user-show .name>em {
	font-style: normal;
	color: #777;
	font-size: 12px;
	display: block;
}

.view-operating>div.view-user {
	margin-bottom: 0px !important;
}

.view-user .row .col-md-8 {
	min-height: 30px;
	margin-top: -6px;
	margin-bottom: 0;
}

.view-user .row ul>li {
	margin-bottom: 6px;
	margin-right: 6px;
}

.view-user .row ul>li:last-child {
	margin-right: 0;
}

.view-user .row:last-child {
	margin-bottom: 0;
	margin-top: 18px;
	min-height: 36.5px;
}

.sharing-list ul {
	margin: 10px;
	margin-right: 0;
	margin-bottom: 21px;
}

.sharing-list ul>li {
	margin-bottom: 0.5rem;
}

.sharing-list ul>li>div {
	border: 1px solid #eee;
	padding: 6px 10px;
	border-radius: 2px;
	width: 150px;
	cursor: pointer;
	position: relative;
	height: 44px;
	background-color: #eee;
}

.sharing-list ul>li>div:hover {
	border: 1px solid #4285f4;
}

.sharing-list ul>li>div .zmdi {
	position: absolute;
	right: 8px;
	top: 12px;
	font-size: 1.3rem;
	color: #4285f4;
	color: #ea4335;
}

.sharing-list ul>li>div .user-show .name {
	color: #555;
	max-width: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sharing-list .dialog-footer {
	margin-left: -20px;
	margin-right: -25px;
}