html,
body {
	overflow: auto;
	height: 100%;
}

.main-content {
	margin-top: 60px;
}

.tab-container {
	margin-top: -8px
}

.tab-content {
	margin: 0;
	padding: 13px 0 0;
}

.view-header {
	padding: 15px 20px;
	height: 61px;
	border-bottom: 1px solid #e6e6e6;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1001;
	background-color: #fff;
	background-color: rgba(255, 255, 255, .9);
}

.view-header .header-icon {
	float: left;
}

.view-header .title {
	line-height: 1.428571;
	display: inline-block;
	margin: 0;
	font-weight: 300;
	font-size: 1.538rem
}

.view-header>span>.close {
	font-size: 1.638rem;
	opacity: .6;
	padding: 1rem;
	height: 40px;
	margin: -10px -1rem -1rem auto;
}

.view-header>span>.close.sm {
	font-size: 1.45rem;
	margin-right: -7px;
}

.view-header>span>.close:hover {
	opacity: .8;
}

.rbview-form .form-group.row {
	padding: 3px 0;
}

.rbview-form .img-field .img-thumbnail:hover,
.rbview-form .file-field .img-thumbnail:hover {
	opacity: 0.8;
}

.rbview-form .file-field .img-thumbnail {
	width: 100%;
	margin: 0;
}

.rbview-form .form-control-plaintext:hover {
	background-color: #fff;
}

.rbview-form .type-NTEXT .form-control-plaintext {
	max-height: 72px;
	position: relative;
}

.rbview-form .type-NTEXT .form-control-plaintext>p {
	margin: 0;
	line-height: 1.428571;
}

.nav-tabs>li.nav-item a.nav-link {
	padding: 11px 15px;
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.nav-tabs,
.nav-tabs>li.nav-item {
	position: relative;
}

.nav-tabs .vtab-settings {
	position: absolute;
	right: 0;
	top: 4px;
	padding: 9px 8px;
	font-size: 15px;
	opacity: 0.6;
	display: none !important;
}

.nav-tabs .vtab-settings:hover {
	opacity: 0.8
}

.nav-tabs:hover .vtab-settings {
	display: inline-block !important;
}

.nav-tabs .badge {
	position: absolute;
	top: -1px;
	right: -4px;
	font-size: .8462rem;
	font-weight: normal;
}

.related-list {
	min-height: 200px
}

.related-list .card {
	border: 1px solid #ebebeb;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, .04);
	padding: 10px 15px;
	margin-bottom: 9px;
}

.related-list .card .float-right {
	color: #aaa;
	cursor: help;
}

.view-operating {
	padding-left: 30px;
}

.view-operating>div {
	margin-bottom: 15px !important;
}

.view-operating .row,
.view-operating .form-line {
	margin-bottom: 10px;
}

.view-operating dt {
	font-weight: normal;
}

.view-action {
	margin-top: 33px;
}

.view-action .col-lg-6 {
	margin-bottom: .769231rem;
}

.view-action .col-lg-6:nth-child(odd) {
	padding-right: 0.384615rem;
}

.view-action .col-lg-6:nth-child(even) {
	padding-left: 0.384615rem;
}

.view-action .col-lg-6 .btn {
	width: 100%
}

.view-action.empty {
	margin-top: 4px;
}

@media screen and (max-width: 991px) {
	.view-action .col-lg-6 {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}

.view-operating>div.view-user {
	margin-bottom: 0 !important;
}

.view-user .row .col-md-8 {
	min-height: 30px;
	margin-top: -6px;
	margin-bottom: 0;
}

.view-user .row ul>li {
	margin-bottom: 6px;
	margin-right: 6px;
}

.view-user .row ul>li:last-child {
	margin-right: 0;
}

.view-user .row:last-child {
	margin-bottom: 0;
	margin-top: 18px;
	min-height: 36.5px;
}

.sharing-list ul {
	margin: 10px 0 21px 10px;
}

.sharing-list ul>li {
	margin-bottom: 0.5rem;
}

.sharing-list ul>li>div {
	border: 1px solid #f7f7f7;
	background-color: #f7f7f7;
	padding: 6px 6px;
	border-radius: 2px;
	width: 150px;
	cursor: pointer;
	position: relative;
	height: 44px;
}

.sharing-list ul>li>div:hover {
	border: 1px solid #4285f4;
}

.sharing-list ul>li>div .zmdi {
	position: absolute;
	right: 6px;
	top: 12px;
	font-size: 1.3rem;
	color: #4285f4;
}

.sharing-list ul>li>div .user-show .name {
	color: #555;
	max-width: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sharing-list .dialog-footer {
	margin-left: -20px;
	margin-right: -25px;
}

.load-mores {
	border-top: 1px solid #eee;
	height: 34px;
	margin-top: 34px;
}

.load-mores .btn {
	width: 160px;
	line-height: 1.8rem;
	min-height: 2.6rem;
	border-radius: 99px;
	font-size: 12px;
}

.load-mores>div {
	width: 180px;
	background-color: #fff;
	margin: -1.4rem auto 0;
}

.load-mores>.btn {
	display: inline-block;
	margin-top: -1.4rem;
}