<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <meta name="page-help" content="https://getrebuild.com/docs/admin/classifications" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/classification.css}" />
    <title>[[${bundle.L('分类数据')}]]</title>
  </head>
  <body>
    <div class="rb-wrapper rb-fixed-sidebar rb-collapsible-sidebar rb-collapsible-sidebar-hide-logo rb-color-header" th:classappend="${sideCollapsedClazz}">
      <th:block th:replace="~{/_include/nav-top}" />
      <th:block th:replace="~{/_include/nav-left-admin(active='classifications')}" />
      <div class="rb-content">
        <div class="page-head">
          <div class="float-left">
            <div class="page-head-title">[[${bundle.L('分类数据')}]]<span class="sub-title">[[${name}]]</span></div>
          </div>
          <div class="float-right pt-1">
            <button class="btn btn-secondary J_imports" type="button"><i class="icon zmdi zmdi-cloud-upload"></i> [[${bundle.L('导入')}]]</button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="main-content container-fluid pt-0">
          <div class="card mb-0">
            <div class="card-body rb-loading rb-loading-active" id="boxes">
              <th:block th:replace="~{/_include/spinner}" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="~{/_include/footer}" />
    <script>
      window.__PageConfig = {
        id: '[[${dataId}]]',
        openLevel: ~~'[[${openLevel}]]',
      }
    </script>
    <script th:src="@{/assets/js/metadata/classification-editor.js}" type="text/babel"></script>
  </body>
</html>
