<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_include/header}" />
    <title>[[${bundle.L('AddSome,Field')}]]</title>
  </head>
  <body class="dialog">
    <div class="main-content">
      <form>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label text-sm-right">[[${bundle.L('FieldName')}]]</label>
          <div class="col-sm-7">
            <input class="form-control form-control-sm" type="text" id="fieldLabel" maxlength="40" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label text-sm-right">[[${bundle.L('Type')}]]</label>
          <div class="col-sm-7">
            <select class="form-control form-control-sm" id="type">
              <option value="TEXT">[[${bundle.L('t.TEXT')}]]</option>
              <option value="NTEXT">[[${bundle.L('t.NTEXT')}]]</option>
              <option value="PHONE">[[${bundle.L('t.PHONE')}]]</option>
              <option value="EMAIL">[[${bundle.L('t.EMAIL')}]]</option>
              <option value="URL">[[${bundle.L('t.URL')}]]</option>
              <option value="SERIES">[[${bundle.L('t.SERIES')}]]</option>
              <option value="NUMBER">[[${bundle.L('t.NUMBER')}]]</option>
              <option value="DECIMAL">[[${bundle.L('t.DECIMAL')}]]</option>
              <option value="DATE">[[${bundle.L('t.DATE')}]]</option>
              <option value="DATETIME">[[${bundle.L('t.DATETIME')}]]</option>
              <option value="PICKLIST">[[${bundle.L('t.PICKLIST')}]]</option>
              <option value="MULTISELECT">[[${bundle.L('t.MULTISELECT')}]]</option>
              <option value="CLASSIFICATION">[[${bundle.L('t.CLASSIFICATION')}]]</option>
              <option value="REFERENCE">[[${bundle.L('t.REFERENCE')}]]</option>
              <option value="N2NREFERENCE">[[${bundle.L('t.N2NREFERENCE')}]]</option>
              <option value="FILE">[[${bundle.L('t.FILE')}]]</option>
              <option value="IMAGE">[[${bundle.L('t.IMAGE')}]]</option>
              <option value="AVATAR">[[${bundle.L('t.AVATAR')}]]</option>
              <option value="BARCODE">[[${bundle.L('t.BARCODE')}]]</option>
              <option value="BOOL">[[${bundle.L('t.BOOL')}]]</option>
              <optgroup th:label="${bundle.L('ReserveType')}" class="bosskey-show">
                <option value="STATE">[[${bundle.L('t.STATE')}]]</option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="form-group row hide J_dt-REFERENCE J_dt-N2NREFERENCE">
          <label class="col-sm-3 col-form-label text-sm-right">[[${bundle.L('SelectSome,RefEntity')}]]</label>
          <div class="col-sm-7">
            <select class="form-control form-control-sm" id="refEntity"></select>
          </div>
        </div>
        <div class="form-group row hide J_dt-CLASSIFICATION">
          <label class="col-sm-3 col-form-label text-sm-right">[[${bundle.L('SelectSome,Classification')}]]</label>
          <div class="col-sm-7">
            <select class="form-control form-control-sm" id="refClassification"></select>
          </div>
        </div>
        <div class="form-group row hide J_dt-STATE">
          <label class="col-sm-3 col-form-label text-sm-right">[[${bundle.L('StateClass')}]]</label>
          <div class="col-sm-7">
            <input class="form-control form-control-sm" type="text" id="stateClass" placeholder="com.rebuild.core.support.state.HowtoState" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label text-sm-right">[[${bundle.L('Remark')}]]</label>
          <div class="col-sm-7">
            <textarea class="form-control form-control-sm row2x" id="comments" maxlength="100" th:placeholder="${bundle.L('Optional')}"></textarea>
          </div>
        </div>
        <div class="form-group row pb-0">
          <label class="col-sm-3 col-form-label text-sm-right"></label>
          <div class="col-sm-7">
            <label class="custom-control custom-control-sm custom-checkbox custom-control-inline mb-0">
              <input class="custom-control-input" type="checkbox" id="saveAndNew" />
              <span class="custom-control-label">[[${bundle.L('AddNext')}]]</span>
            </label>
            <label class="custom-control custom-control-sm custom-checkbox custom-control-inline mb-0 hide">
              <input class="custom-control-input" type="checkbox" id="add2Layout" checked />
              <span class="custom-control-label">[[${bundle.L('AppendToLayout')}]]</span>
            </label>
          </div>
        </div>
        <div class="form-group row footer">
          <div class="col-sm-7 offset-sm-3">
            <button class="btn btn-primary" type="button">[[${bundle.L('Confirm')}]]</button>
            <button class="btn btn-link" type="button" onclick="parent.RbModal.hide()">[[${bundle.L('Cancel')}]]</button>
          </div>
        </div>
      </form>
    </div>
    <th:block th:replace="~{/_include/footer}" />
    <script th:src="@{/assets/js/metadata/field-new.js}" type="text/babel"></script>
  </body>
</html>
